# Git
.git
.gitignore

# Docker
.docker

# Python
Django/__pycache__/
Django/*/__pycache__/
Django/*/*/__pycache__/
Django/*/*/*/__pycache__/
.env/
.venv/
venv/
virt/

#React
tools/

# Local PostgreSQL data
data/
